<div ng-controller="PrimeNumCtrl"></div>
<!-- <input id="theNumber" type="text" ng-model="input" placeholder="please enter a number" />
<button id="findBtn" ng-click="findPrimes()">Find Factors</button>
<div class="title">Factors:</div>
<div id="output">{{output}}</div> -->


<p>{{ savedText }}</p>
<input id="theNumber" type="text" ng-model="input" placeholder="please enter a number" />
<button id="findBtn" ng-click="findPrimes()">Find Factors</button>
<div class="title">Factors:</div>
<div id="output">{{output}}</div>